/* Main Containers */
html {
    height: 100%;
    background-color: rgb(10, 30, 20); 
}

body {
    min-height: 100%; 
    margin: 0;
    /* min-width: 800px; */
    border: solid 9px rgb(10, 30, 20);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Secondary Containers */
#background {
    background-image: url("img/bg.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    border-top: solid 6px rgb(10, 30, 20);
    border-bottom: solid 6px rgb(10, 30, 20);

    transition-duration: 1s;
    -webkit-transition-duration: 1s;	
    -moz-transition-duration: 1s;
}
#interface, #scoreboard {
    background-color: rgb(105, 70, 50);
    background-size: cover;
    background-image: url("img/bricktexture.png");
}
#interface {
    flex: .5;
}
#scoreboard {
    flex: .125;
}
#shop, #inventory {
    flex: .25;
    background-color: rgb(10, 45, 30);
    display: flex;
    flex-direction: column;
    padding: 0 6px;
    background-size: cover;
    background-image: url("img/grasstexture.png");
}
#shop {
    border-right: solid 6px rgb(10, 30, 20);
}
#inventory {
    border-left: solid 6px rgb(10, 30, 20);
}

/* Flex */
.row {
    display: flex; 
    flex-direction: row;
    flex: 1;
}
.col {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.blank {
    flex: 1; 
}

/* Grass */
#grass {
    flex:.625;
    position:relative;
    bottom: 0;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url("img/grass.png");
}

/* Items */
.circle {
    width: 120px;
    height: 120px;
    border-radius: 120px;
    background-color: rgb(10, 30, 20);
    border:solid 3px rgb(0,175,160);
    margin: 6px auto;
    color: rgb(200, 250, 50);
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    background-size: cover;
}
.circle:hover, .equip {
    border-color: rgb(200, 250, 50);
}

.mow {
    opacity: 0;
    transition-duration: .7s;
    -webkit-transition-duration: .7s;	
    -moz-transition-duration: .7s;
}

.unMow {
    opacity: 100;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;	
    -moz-transition-duration: 1s;
}

.noclick {								
	pointer-events: none;
}

/* Text */
h1, h2, .questionmark {
    text-align: center;
    font-family: 'Finger Paint', cursive;
    font-weight: 100;
    margin: 12px 6px;
    font-size: 21px;
    color:  rgb(200, 250, 50); 
    text-shadow:
    3px 3px 0 black,
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
h2 {
    font-size: 15px;
    margin: 0 auto;
    color: rgb(250, 160, 35);
}
.altH1, .altH2, .title {
    color: rgb(0,175,160);
}
.title {
    font-size: 27px;
}

/* @Media */

@media (min-width: 1000px) {
    h1,.altH1 {
        font-size: 27px;
    }
    h2,.altH2 {
        font-size: 21px;
    }
    .title {
        font-size: 33px;
    }
}
@media (max-width: 800px) {
    h1,.altH1 {
        font-size: 15px;
    }
    h2,.altH2 {
        font-size: 9px;
    }
    .title {
        font-size: 21px;
    } 
    .circle {
        width: 90px;
        height: 90px;
    }
    #shop, #inventory {
        flex: .20;
    }
    #scoreboard {
        line-height: 35px;
    }
}
@media (max-width: 600px) {
    h1,.altH1 {
        font-size: 11px;
    }
    .title {
        font-size: 18px;
    } 
    .circle {
        width: 60px;
        height: 60px;
    }
    #shop, #inventory {
        flex: .10;
    }
}

