/* Main Containers */
html {
    height: 100%;
}

body {
    min-height: 100%; 
    margin: 0;
    min-width: 800px;
}

/* Secondary Containers */
#background {
    background-image: url("img/bg.jpg");
    background-size: cover; 
    background-position: center;
    margin-left: 8px;
    background-repeat: no-repeat;
    border-top: solid 8px rgb(10, 30, 20);
    border-bottom: solid 8px rgb(10, 30, 20);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;	
    -moz-transition-duration: 1s;
}
#interface, #scoreboard {
    background-color: rgb(130, 90, 60);
    margin-left: 8px;
    background-size: cover;
    background-image: url("img/bricktexture.png")
}
#interface {
    flex: .5;
}
#scoreboard {
    flex: .125;
}
#shop, #inventory {
    flex: .25;
    background-color: rgb(10, 65, 40);
    outline: solid 8px rgb(10, 30, 20);
    display: flex;
    flex-direction: column;
    padding: 0 6px;
    background-size: cover;
    background-image: url("img/grasstexture.png")
}

/* Flex */
.row {
    display: flex; 
    flex-direction: row;
    flex: 1;
}
.col {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.blank {
    flex: 1; 
}

/* Grass */
#grass {
    flex:.625;
    position:relative;
    bottom: 0;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: bottom;
    margin-right: 8px;
    background-image: url("img/grass.png");
}

/* Items */
.circle {
    width: 120px;
    height: 120px;
    border-radius: 120px;
    background-color: rgb(10, 30, 20);
    border:solid 3px rgb(0,175,160);
    margin: 6px auto;
    color: rgb(200, 250, 50);
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    background-size: cover;
}
.circle:hover, .equip {
    border-color: rgb(200, 250, 50);
}

.mow {
    opacity: 0;
    transition-duration: .7s;
    -webkit-transition-duration: .7s;	
    -moz-transition-duration: .7s;
}

.unMow {
    opacity: 100;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;	
    -moz-transition-duration: 1s;
}

.noclick {								
	pointer-events: none;
}

/* Text */
h1, h2, .questionmark {
    text-align: center;
    font-family: 'Finger Paint', cursive;
    font-weight: 100;
    margin: 12px 6px;
    font-size: 21px;
    color:  rgb(200, 250, 50); 
    text-shadow:
    3px 3px 0 black,
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
h2 {
    font-size: 15px;
    margin: 0 auto;
    color: rgb(250, 160, 35);
}
.altH1, .altH2, .title {
    color: rgb(0,175,160);
}
.title {
    font-size: 27px;
}

/* @Media */
@media (min-width: 1100px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 18px;
    }
    .altH1 {
        font-size: 30px;
    }
}

@media (min-width: 1400px) {
    h1 {
        font-size: 27px;
    }
    h2 {
        font-size: 21px;
    }
    .altH1 {
        font-size: 33px;
    }
}